@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root{
    background-color:#FFF9F0;
    color:black;
    font-family: 'Caveat', cursive;
  }
}


html {
  scroll-behavior: smooth;
}
/* animation */
@keyframes fading {
  0%   {opacity: 1;}
  50%  {opacity: 0.4;}
  100% {opacity: 1;}
}

.fade {
    animation:fading;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

/* Timer */
#timer {
  padding-top: 100px;
}
.text-timer {
  display: block;
  font-size:calc(100px + 11vw);
  margin: auto;;
  float: center;
  width: 50%;
  text-align: center;
  /* animation:fading; */
  animation-iteration-count: infinite;
}

.timer-btn {
  display: grid;
  width: 50%;

  margin:auto;
  grid-template-columns: auto auto auto;
  row-gap:1vw;
}

.text-input {
  display:block;
  text-align: center;
}

.input-customize{
  text-align: center;
  font-size:calc(5px + 3vw);
  width:40%;
}
.btn-customize {
  position: relative;
  border:none;
  color:black;
  z-index: 2;
  background-size:20%;
  text-transform:none;
  font-size: calc(25px + 2vw);
  

}


.btn-customize:hover {
  outline: none;
  color: grey;
  background-color: floralwhite;
}
.btn-customize:active {
  outline: none;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-customize:focus {
  outline: none;
  
  align-items: center;
  justify-content: center;
  text-align: center;
}


/* Tree */
.label-break{
  color: grey;
  font-size: calc(100px + 10vw);
}

.li-div div {
  display:grid;
  text-align: left; 
}

.li-div label {
  font-size: calc(10px + 0.5vw);
}

.li-div p {
  font-size: calc(20px + 1vw);
}

.steps-div {
  width:50%;
  margin:auto;
  margin-top: 50px;
}

.isBreak {
  color: grey;
}
.isBreak p {
  font-size: calc(10px + 1vw);
}

/* navbar */
.icon {
  width: 20px;
  height:26px;
}
.navbar {
  height: 10px;
  position:fixed;
  display:flex;
  align-items:center;
  justify-content: space-around;
  padding: 0.2rem calc((100vw - 4000px) / 2);
  font-size: calc(1vw + 20px);
  text-decoration: underline;
  align-items:center;
}

.navbar-menu {
  gap: 20px;
}

/* divide */

.divider-custom {
  width: 50%;
  margin: auto;
  padding-top: 50px;
  font-size:x-large;
}
@media only screen and (max-width: 1300px) {
  .timer-btn{
    width: 90%;
  }
  .text-timer {
    width: 90%;
  }
  .steps-div {
    width:80%;
  }
  .input-customize{
    text-align: center;
    font-size: 8vw;
    width:90%;
    height:30%;
  }
  .divider-custom {
    width: 90%;
  }

  .navbar {
    justify-content: space-between;
    padding:20px;
  }
}
